.background {
  viewport-fill: #CC7722;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 25%;
  fill: white;
}

#stepsIcon {
  height: 50;
  width: 35;
  x:25%;
  y:75%;
  href: "stepsicon.png";
  fill: white;
}

#stepsLabel {
  x:40%;
  y: 87%;
  fill: white;
  font-size: 50;
  font-family: System-Bold;
  text-length: 5;
}

#goodWork {
  x:27%;
  y: 72%;
  fill: white;
  font-size: 20;
  font-family: System-Bold;
}

